body {
	font-family: 'Open Sans', sans-serif;
	color: var(--color-grey-dark-2);
	font-weight: 400;
	line-height: 1.6;
}

.paragraph {
	// font-size: $default-font-size;
	&:not(:last-of-type) {
		margin-bottom: 2rem;
	}
	@media only screen and (max-width: $bp-smallest) {
		font-size: 1.6rem;
	}
}
